#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

%:
	dh $@ --buildsystem=cmake --with python3 --parallel

override_dh_auto_configure:
	dh_auto_configure -- -DGETTEXT_MSGINIT_EXECUTABLE=msginit -DGETTEXT_MSGCONV_EXECUTABLE=msgconv -DGETTEXT_MSGMERGE_EXECUTABLE=msgmerge
